<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}"> 
        <!-- important to note, that the location of filename by default, is going to look for things in a 'static' folder -->
    </head>


    <body>

        <header>
            <h3>Applied Health Informatics</h3>
        </header>
          
        <section>

            <nav>
                <ul>
                    <li><a href="#">Class 504</a></li>
                    <li><a href="#">Class 507</a></li>
                </ul>
            </nav>
        
            <article>
                <h1>About</h1>
                <p>This is a basic example of using layouts.</p>
                <p>It looks aweful, but it could look worse.</p>
                <p>The template utilized to make this is from:   <a href="https://www.w3schools.com/html/html_layout.asp">    W3 School   </a>    </p>
            </article>

        </section>
          
        <footer>
            <p>Copyright 2022 - AHI </p>
        </footer>

    </body>


</html>